@import url(../vendor/normalize.css);
@import url(../vendor/font/font.css);
@import url(../blocks/swiper/swiper-bundle.min.css);

.page {
  max-width: 1440px;
  position: relative;
  background-image: url(../image/main__background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

@media screen and (max-width: 1335px) {
  .page {
    background-position: top 203px left 0;
  }
}

@media screen and (max-width: 1000px) {
  .page {
    background-size: auto;
    background-position: top 0 left 40%;
  }
}

.header {
  width: 100%;
  padding: 15px 0 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  filter: blur(35px);
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 20px 15px 30px 10px;
    height: 129px;
    background: #F8F8F8;
  }

}

.header__logo {
  max-width: 190px;
}

.header__logo-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    max-width: 148px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    display: none;
  }

  .header__logo-mobile {
    display: block;
  }
}





.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.header__nav {
  gap: 32.43px;
}

.link {
  text-decoration: none;
  color: #212D55;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1000px) {
  .link {
    font-size: 12px;
  }
}

.link:hover {
  color: #31BEF4;
  cursor: pointer;
}

.link_active {
  color: #31BEF4;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__tel {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__tel a {
  color: #212D55;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 7px;
  margin-left: 10px;

}

.header__tel a:hover {
  cursor: pointer;
  color: #31BEF4;
}

@media screen and (max-width: 1000px) {
  .header__tel {
    font-size: 16px;
  }

  .header__tel a {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header__tel {
    display: none;
  }
}


.main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 0 72px 0;
  overflow: hidden;


}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 0 100px 0;
  }
}



.main__nav {
  gap: 35px;
  border: 1px solid rgba(49, 190, 244, 1);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 81px;
  position: relative;
}

.main__nav::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  filter: blur(35px);
  position: absolute;
  z-index: -1;
}

.main__directive {
  color: #656D89;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 122.222% */
  text-align: center;
  margin: 30px 0 0 0;
  display: none;
}

.main__directive span {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .main__directive {
    display: block;
  }
}

.main__header {
  color: #212D55;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  /* 116.667% */
  margin: 65px 0 0 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main__header {
    margin: 40px 0 0 0;
    font-size: 28px;
    line-height: 40px;
    /* 142.857% */
  }
}

.main__text {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 28px 0 0 0;
  gap: 12px;
  text-align: center;
}

.main__text strong {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main__text {
    font-size: 20px;
    gap: 25px;
  }
}

.header__btn-burger {
  display: none;
  cursor: pointer;
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  height: 40px;
  /* 222.222% */

}

.header__btn-burger button {
  width: 31px;
  height: 23px;
  background-image: url(../image/burger__btn.png);
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .header__btn-burger {
    display: flex;
    align-items: center;
  }

  .header__btn-burger button {}
}


.button {}

.button__main {
  width: 325px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background: #31BEF4;
  box-shadow: 0px 6px 0px 0px #2CABDC;
  color: #FFF;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 25px auto 0;
}

.button__main:hover {
  background: #31BEF4;
  box-shadow: 0px 4px 20px 0px #0B91C5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button__main {
    margin: 30px auto 0;
    width: 290px;
    font-size: 20px;
  }
}

.main-slider {
  margin: 41px auto 0;
  max-width: 992px;
  position: relative;

}

@media screen and (max-width: 1000px) {
  .main-slider {
    margin: 41px 0 0 0;
    padding: 0 0 0 15px;
    width: 100%;

  }
}


.main-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.main-slider__slide {
  width: 221px;
  height: 132px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F9FCFD;
  box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.20);
  position: relative;
  flex-shrink: 0;
}

.main-slider__slide:last-of-type {
  margin-right: 30px;
}

.main-slider__slide img {
  position: absolute;
  top: 5px;
  right: 0;
}

.main-slider__slide h3 {
  position: absolute;
  top: 36px;
  left: 36px;
  margin: 0;
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 146px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-slider__slide span {
  font-weight: 700;
}

.main-slider__btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.10);
  position: absolute;
  z-index: 2;
  display: none;
}

.main-slider__btn-prev {
  background-image: url(../image/prev.png);
  bottom: -65px;
  right: 115px;
}

.main-slider__btn-prev:hover {
  background-color: #31BEF4;
  background-image: url(../image/row-white.png);
  transform: rotate(180deg);
  box-shadow: 0px 3px 15px rgba(49, 190, 244, 0.50);
}

.main-slider__btn-next {
  background-image: url(../image/next.png);
  right: 30px;
  bottom: -65px;
}

.main-slider__btn-next:hover {
  background-color: #31BEF4;
  background-image: url(../image/row-white.png);
  box-shadow: 0px 3px 15px rgba(49, 190, 244, 0.50);
}

@media screen and (max-width: 1000px) {
  .main-slider__btn {
    display: block;
  }
}

.main__clouds {
  width: 100%;
  height: 219px;
  position: absolute;
  top: -157px;
  right: 0;
  background-image: url(../image/Облака.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .main__clouds {
    top: -177px;
    background-position: top 0 left 30%;
    height: 272px;
  }
}

.complex {
  background-color: #fff;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.comlex__header {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 155.556% */
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 279px;
}

.complex-slider {
  margin: 60px auto 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;

}

@media screen and (max-width: 1280px) {
  .complex-slider {
    width: 100%;
    margin: 60px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .complex-slider {
    width: calc(100%);
    margin: 60px 0 0 0;
  }
}

.complex-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #31BEF4;
  background: #FFF;
  opacity: 1;
  margin: 0 !important;
  box-sizing: border-box;

}

.complex-slider .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  border: 1px solid #31BEF4;
  border-radius: 20px;
  stroke-width: 1px;
  stroke: #31BEF4;
  box-shadow: 0px 3px 15px #31BEF4;
  position: relative;
  box-sizing: border-box;
}

.complex-slider .swiper-pagination-bullet-active::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #31BEF4;
  box-shadow: 0px 3px 15px #31BEF4;
  position: absolute;
  top: 4px;
  left: 4px;
  box-sizing: border-box;

}



.complex-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: border-box;
}

.complex-slider__slide {
  flex-shrink: 0;
}

.complex-slider__slide_top {
  position: relative;
}

.complex-slider__slide_bottom {
  position: relative;
}


.complex-slider__slide h3 {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  position: absolute;
  top: 47px;
  left: 123px;
}

.complex-slider__slide span {
  font-weight: 600;
  font-family: "Gilroy", sans-serif;
}


.complex-slider__slide img {
  display: block;
  flex-shrink: 0;
}

.complex-slider__pagination {
  margin: 25px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.complex-slider__btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.10);
  position: absolute;
  z-index: 2;
  margin-bottom: 21px;
}

.complex-slider__btn-prev {
  background-image: url(../image/prev.png);
  bottom: 0;
  right: 90px;
}

.complex-slider__btn-next {
  background-image: url(../image/next.png);
  bottom: 0;
  right: 35px;
}

.complex-slider__btn-prev:hover {
  background-color: #31BEF4;
  background-image: url(../image/row-white.png);
  transform: rotate(180deg);
  box-shadow: 0px 3px 15px rgba(49, 190, 244, 0.50);
}

.complex-slider__btn-next:hover {
  background-color: #31BEF4;
  background-image: url(../image/row-white.png);
  box-shadow: 0px 3px 15px rgba(49, 190, 244, 0.50);
}

.infrastructure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infrastructure__header {
  margin: 0;
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 155.556% */
}

.map {
  width: 100%;
  height: 663px;
}

.map__cards {}

.map__card-background {}

.map__card__text {}

.description {
  width: 100%;
  margin: 50px 0 0 0;
}

.description__header {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 155.556% */
  margin: 0 auto;
  max-width: 638px;
}

@media screen and (max-width: 768px) {
  .description__header {
    font-size: 28px;
    max-width: 244px;
    text-align: center;
    line-height: normal;
  }
}

.description__text {
  color: #656D89;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 596px;
  margin: 30px auto 0;
}

@media screen and (max-width: 768px) {
  .description__text {
    max-width: 263px;
    text-align: center;
    line-height: normal;
  }
}

.description-slider {
  margin: 51px auto 64.63px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  max-width: 1140px;
}

@media screen and (max-width: 768px) {
  .description-slider {
    margin: 30px auto 64.63px;
  }
}

.description-slider__pagination-bullet {
  width: 193px;
  height: 102px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #F9FCFD;
  background-image: url(../image/description-slider__pagination.png);
  background-position: top 5px left 0;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.20);
  margin: 5px;
  box-sizing: border-box;
  padding: 38px 0 0 36px;
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}

.description-slider__pagination-bullet:nth-of-type(1)::before {
  content: 'Парковка';
}

.description-slider__pagination-bullet:nth-of-type(2)::before {
  content: 'Архитектура';
}

.description-slider__pagination-bullet:nth-of-type(3)::before {
  content: 'Охрана';
}

.description-slider__pagination-bullet:nth-of-type(4)::before {
  content: 'Территория';
}




.description-slider__pagination-bullet {
  cursor: pointer;
}



.description-slider__pagination-bullet_active {
  background-image: url(../image/description-slider__pagination_active.png);
  color: #31BEF4;
}

@media screen and (max-width: 800px) {
  .description-slider__pagination-bullet {
    width: 290px;
    height: 71px;
    background-image: url(../image/description-slider__pagination_mobile.png);
    background-size: cover;
    background-position: top 1px left 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.description-slider__pagination {
  display: flex;
  gap: 40px;
  margin: 0 0 60px 0;
}

@media screen and (max-width: 1144px) {
  .description-slider__pagination {
    justify-content: space-between;
    gap: 0;

  }
}

@media screen and (max-width: 800px) {
  .description-slider__pagination {
    flex-direction: column;
    align-items: center;
    gap: 20px;

  }
}

.description-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: border-box;
}

.description-slider__slide {
  display: grid;
  gap: 30px;
  grid-template-columns: 848px 262px;
  grid-template-rows: 171px 171px 171px;
  flex-shrink: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1144px) {
  .description-slider__slide {
    grid-template-columns: minmax(140px, 1fr) minmax(140px, 1fr) minmax(140px, 1fr);
    grid-template-rows: 553px 91px;
    gap: 20px 10px;
  }
}

@media screen and (max-width: 768px) {
  .description-slider__slide {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 320px) {
  .description-slider__slide {
    gap: 20px 0;
  }
}

.description-slider__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

@media screen and (max-width: 768px) {
  .description-slider__slide img:nth-of-type(3) {
    display: none;
  }

  .description-slider__slide img {
    width: 100%;
  }

}

@media screen and (max-width: 320px) {
  .description-slider__slide img {
    width: 140px;
  }
}

@media screen and (max-width: 1144px) {
  .description-slider__slide {}
}

.description-slider__slide-foto1 {
  background-image: url(../image/slide_foto1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 140.75px 0 54px 27px;
  grid-row-start: 1;
  grid-row-end: 4;

}

@media screen and (max-width: 1144px) {
  .description-slider__slide-foto1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 140.75px 0 54px 27px;
    border-radius: 0px 0px 10px 10px;
  }
}

@media screen and (max-width: 768px) {
  .description-slider__slide-foto1 {
    padding: 256px 15px 31px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.description-slider__slide-description {
  width: 538px;
  height: 378px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 5px 19px 0px rgba(33, 45, 85, 0.06);
  padding: 25px 20px 0;
  box-sizing: border-box;
}

.description-slider__slide-description h3 {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 30px 0;
}

.description-slider__slide-description p {
  color: #656D89;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 10px 0;
}

.description-slider__slide-description p:last-of-type {
  margin: 20px 0 0 0;
}

@media screen and (max-width: 768px) {
  .description-slider__slide-description {
    width: 290px;
    height: 266px;
    padding: 20px 17px 20px 20px;
  }

  .description-slider__slide-description div::-webkit-scrollbar {
    width: 0;
  }

  .description-slider__slide-description h3 {
    margin: 0 0 24px 0;
  }

  .description-slider__slide-description div {
    height: 175px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

.consultation {
  border-radius: 10px 10px 0px 0px;
  background: #F9FCFD;
  box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.20);
  position: relative;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .consultation {
    margin: 0 0 28px 0;
  }
}

.consultation__header {
  color: #212D55;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 888px;
  margin: 0 auto 0;
  padding: 50px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .consultation__header {
    font-size: 28px;
    width: 271px;
    padding: 40px 0 0 0;
  }
}

.consultation__open {
  color: #31BEF4;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin: 0 0 25px 0;
}

.consultation__open img {
  width: 7px;
  height: 7px;
}

.consultation__open p {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .consultation__open {
    position: absolute;
    top: 206px;
    left: 0;
  }
}

.consultation__info {
  display: flex;
  max-width: 1140px;
  margin: 50px auto 0;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .consultation__info {
    flex-direction: column;
    margin: 79px auto 0;
  }
}

.consultation__tel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.consultation__tel p:nth-of-type(1) {
  color: #212D55;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  max-width: 346px;
}

.consultation__tel p:nth-of-type(2) {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 11px;
}

@media screen and (max-width: 1024px) {
  .consultation__tel p:nth-of-type(1) {
    font-size: 18px;
    line-height: 22px;
  }

  .consultation__tel {
    gap: 26px;
  }
}

.consultation__tel-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFF;
  box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.10);
  display: block;
  background-image: url(../image/icon_call.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.consultation__separation {
  color: #212D55;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 252px;
  border-left: 1px dotted #31BEF4;
  width: 139px;
  margin: 0;
  display: flex;
  padding-left: 25px;
  align-items: center;

}

@media screen and (max-width: 900px) {
  .consultation__separation {
    border-left: none;
    border-top: 1px dotted #31BEF4;
    width: 100%;
    margin: 25px 0 30px 0;
    padding: 25px 0 0 0;
    height: 0;
    align-self: center;
    justify-content: center;
  }
}

.form {
  display: grid;
  grid-template-columns: 279px 279px;
  grid-template-rows: 101px 101px 71px;
  justify-items: center;
  align-items: center;
  gap: 0 20px;

}

@media screen and (max-width: 900px) {
  .form {
    display: flex;
    flex-direction: column;
  }
}

.form__input {
  border: none;
  text-align: start;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 35px;
  left: 40px;
  background-color: transparent;
}

.form__input:focus {
  outline: 0;
}

.input-box {
  width: 279px;
  height: 101px;
  position: relative;

}

@media screen and (max-width: 900px) {
  .input-box {
    width: 289px;
    height: 101px;
  }
}


.form__submit {
  cursor: pointer;
  background: #31bef4;
  border-radius: 10px;
  width: 241px;
  height: 56px;
  position: relative;
  box-shadow: 0px 6px 0px 0px rgba(44, 171, 220, 1);
  color: #FFF;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin: 0 0 15px 0;
}

.form__checkbox-label {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  max-width: 500px;
  gap: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 0 50px 50px;
}



.form__checkbox-label::before {
  content: '';
  flex: 0 0 20px;
  height: 20px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 4px 13px 0px rgba(34, 34, 34, 0.15);
  align-self: center;
  margin-right: 10px;

}

.form__checkbox-label::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background-image: url(../image/checkbox.svg);
  top: 5px;
  left: 5px;
  transform: scale(0);
}

.form__checkbox-label span {
  font-weight: 500;
  color: #31BEF4;
  flex-shrink: 0;

}

.form__checkbox {
  display: none;
}

.form__checkbox:checked+.form__checkbox-label::after {
  transform: scale(1);
}

@media screen and (max-width: 900px) {
  .form__checkbox-label {
    flex-wrap: wrap;
    margin: 20px 0 40px 0;
    align-items: center;
    justify-content: center;
  }
}

.map {
  width: 100%;
  height: 663px;
}

.map__icon {
  position: relative;
}

.map__icon_ative {}
