@import url(../vendor/normalize.css);
@import url(../vendor/font/font.css);
@import url(../blocks/swiper/swiper-bundle.min.css);

.page {
  max-width: 1440px;
  position: relative;
  background-image: url(../image/main__background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

@media screen and (max-width: 1335px) {
  .page {
    background-position: top 203px left 0;
  }
}

@media screen and (max-width: 1000px) {
  .page {
    background-size: auto;
    background-position: top 0 left 40%;
  }
}

.header {
  width: 100%;
  padding: 15px 0 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  filter: blur(35px);
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 20px 10px 30px;
    height: 129px;
    background: #F8F8F8;
  }

}

.header__logo {
  max-width: 190px;
}

.header__logo-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    max-width: 148px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    display: none;
  }

  .header__logo-mobile {
    display: block;
  }
}





.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.header__nav {
  gap: 32.43px;
}

.link {
  text-decoration: none;
  color: #212D55;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1000px) {
  .link {
    font-size: 12px;
  }
}

.link:hover {
  color: #31BEF4;
  cursor: pointer;
}

.link_active {
  color: #31BEF4;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__tel {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__tel a {
  color: #212D55;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 7px;
  margin-left: 10px;

}

.header__tel a:hover {
  cursor: pointer;
  color: #31BEF4;
}

@media screen and (max-width: 1000px) {
  .header__tel {
    font-size: 16px;
  }

  .header__tel a {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header__tel {
    display: none;
  }
}


.main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 0 72px 0;
  overflow: hidden;


}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 0 100px 0;
  }
}



.main__nav {
  gap: 35px;
  border: 1px solid rgba(49, 190, 244, 1);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 81px;
  position: relative;
}

.main__nav::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  filter: blur(35px);
  position: absolute;
  z-index: -1;
}

.main__directive {
  color: #656D89;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 122.222% */
  text-align: center;
  margin: 30px 0 0 0;
  display: none;
}

.main__directive span {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .main__directive {
    display: block;
  }
}

.main__header {
  color: #212D55;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  /* 116.667% */
  margin: 65px 0 0 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main__header {
    margin: 40px 0 0 0;
    font-size: 28px;
    line-height: 40px;
    /* 142.857% */
  }
}

.main__text {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 28px 0 0 0;
  gap: 12px;
  text-align: center;
}

.main__text strong {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main__text {
    font-size: 20px;
    gap: 25px;
  }
}

.header__btn-burger {
  display: none;
  cursor: pointer;
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  height: 40px;
  /* 222.222% */

}

.header__btn-burger button {
  width: 31px;
  height: 23px;
  background-image: url(../image/burger__btn.png);
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .header__btn-burger {
    display: flex;
    align-items: center;
  }

  .header__btn-burger button {}
}


.button {}

.button__main {
  width: 325px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background: #31BEF4;
  box-shadow: 0px 6px 0px 0px #2CABDC;
  color: #FFF;
  font-family: "Gilroy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 25px auto 0;
}

.button__main:hover {
  background: #31BEF4;
  box-shadow: 0px 4px 20px 0px #0B91C5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button__main {
    margin: 30px auto 0;
    width: 290px;
    font-size: 20px;
  }
}

.main-slider {
  margin: 41px auto 0;
  max-width: 992px;
  position: relative;

}

@media screen and (max-width: 1000px) {
  .main-slider {
    margin: 41px 0 0 0;
    padding: 0 0 0 15px;
    width: 100%;

  }
}


.main-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.main-slider__slide {
  width: 221px;
  height: 132px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F9FCFD;
  box-shadow: 0px 5px 15px 0px rgba(33, 45, 85, 0.20);
  position: relative;
  flex-shrink: 0;
}

.main-slider__slide:last-of-type {
  margin-right: 30px;
}

.main-slider__slide img {
  position: absolute;
  top: 5px;
}

.main-slider__btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.10);
  position: absolute;
  z-index: 2;
  display: none;
}

.main-slider__btn-prev {
  background-image: url(../image/prev.png);
  bottom: -65px;
  right: 115px;
}

.main-slider__btn-prev:hover {
  background-color: #31BEF4;
  background-image: url(../image/row-white.png);
  transform: rotate(180deg);
}

.main-slider__btn-next {
  background-image: url(../image/next.png);
  right: 30px;
  bottom: -65px;
}

.main-slider__btn-next:hover {
  background-color: #31BEF4;
  background-image: url(../image/row-white.png);
}

@media screen and (max-width: 1000px) {
  .main-slider__btn {
    display: block;
  }
}

.main__clouds {
  width: 100%;
  height: 219px;
  position: absolute;
  top: -157px;
  right: 0;
  background-image: url(../image/Облака.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .main__clouds {
    top: -177px;
    background-position: top 0 left 30%;
    height: 272px;
  }
}

.complex {
  background-color: #fff;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.comlex__header {
  color: #212D55;
  font-family: "Gilroy", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 155.556% */
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 279px;
}

.complex-slider {
  margin: 60px auto 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;

}

@media screen and (max-width: 1280px) {
  .complex-slider {
    width: 100%;
    margin: 60px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .complex-slider {
    width: calc(100%);
    margin: 60px 0 0 0;
  }
}

.complex-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #0062BD;
  opacity: 1;
  box-sizing: border-box;

}

.complex-slider .swiper-pagination-bullet-active {
  box-sizing: border-box;
  background-color: #0062BD;
  width: 16px;
  height: 16px;
}

.complex-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: border-box;
}

.complex-slider__slide {
  flex-shrink: 0;
}

@media screen and (max-width: 1000px) {
  .complex-slider__slide:last-of-type {
  }
}


.complex-slider__slide img {
  display: block;
  flex-shrink: 0;
}

.complex-slider__btn-prev {}

.complex-slider__btn-next {}

.infrastructure {}

.infrastructure__header {}

.map {}

.map__cards {}

.map__card-background {}

.map__card__text {}

.description {}

.description__header {}

.description__text {}

.description-slider {}

.swiper-pagination {}

.description-slider__wrapper {}

.description-slider__slide {}

.description-slider__slide-foto1 {}

.description-slider__slide-description {}

.consultation {}

.consultation__header {}

.consultation__open {}

.consultation__info {}

.consultation__tel {}

.consultation__separation {}

.form {}
